In [313]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [314]:
data = pd.read_csv('D:/DataMiss.csv', delimiter=';')
data

          Y1    Y    X1     X2     X3    X4     X5
0    Success  yes   6.0  148.0   72.0  35.0    NaN
1       Fail   no   1.0   85.0   66.0  29.0    NaN
2    Success  yes   8.0  183.0   64.0   NaN    NaN
3       Fail   no   1.0   89.0   66.0  23.0   94.0
4    Success  yes   NaN  137.0   40.0  35.0  168.0
5       Fail   no   5.0  116.0   74.0   NaN    NaN
6    Success  yes   3.0   78.0   50.0  32.0   88.0
7       Fail   no  10.0  115.0    NaN   NaN    NaN
8    Success  yes   2.0  197.0   70.0  45.0  543.0
9    Success  yes   8.0  125.0   96.0   NaN    NaN
10      Fail   no   4.0  110.0   92.0   NaN    NaN
11   Success  yes  10.0  168.0   74.0   NaN    NaN
12      Fail   no  10.0  139.0   80.0   NaN    NaN
13       NaN  NaN   1.0  189.0   60.0  23.0  846.0
14   Success  yes   5.0  166.0   72.0  19.0  175.0
15   Success  yes   7.0  100.0    NaN   NaN    NaN
16   Success  yes   NaN  118.0   84.0  47.0  230.0
17   Success  yes   7.0  107.0   74.0   NaN    NaN
18      Fail   no   1.0  103.0   30.0  38.0   83.0
19   Success  yes   1.0  115.0   70.0  30.0   96.0
20      Fail   no   3.0  126.0   88.0  41.0  235.0
21      Fail   no   8.0   99.0   84.0   NaN    NaN
22       NaN  NaN   7.0  196.0   90.0   NaN    NaN
23   Success  yes   9.0  119.0   80.0  35.0    NaN
24   Success  yes  11.0  143.0   94.0  33.0  146.0
25   Success  yes  10.0  125.0   70.0  26.0  115.0
26   Success  yes   7.0  147.0   76.0   NaN    NaN
27      Fail   no   1.0   97.0   66.0  15.0  140.0
28      Fail   no  13.0  145.0   82.0  19.0  110.0
29       NaN  NaN   5.0  117.0   92.0   NaN    NaN
..       ...  ...   ...    ...    ...   ...    ...
99   Success  yes   1.0  122.0   90.0  51.0  220.0
100  Success  yes   1.0  163.0   72.0   NaN    NaN
101     Fail   no   1.0  151.0   60.0   NaN    NaN
102     Fail   no   NaN  125.0   96.0   NaN    NaN
103     Fail   no   1.0   81.0   72.0  18.0   40.0
104     Fail   no   2.0   85.0   65.0   NaN    NaN
105     Fail   no   1.0  126.0   56.0  29.0  152.0
106     Fail   no   1.0   96.0  122.0   NaN    NaN
107     Fail   no   4.0  144.0   58.0  28.0  140.0
108     Fail   no   3.0   83.0   58.0  31.0   18.0
109  Success  yes   NaN   95.0   85.0  25.0   36.0
110  Success  yes   3.0  171.0   72.0  33.0  135.0
111  Success  yes   8.0  155.0   62.0  26.0  495.0
112     Fail   no   1.0   89.0   76.0  34.0   37.0
113     Fail   no   4.0   76.0   62.0   NaN    NaN
114  Success  yes   7.0  160.0   54.0  32.0  175.0
115  Success  yes   4.0  146.0   92.0   NaN    NaN
116  Success  yes   5.0  124.0   74.0   NaN    NaN
117     Fail   no   5.0   78.0   48.0   NaN    NaN
118     Fail   no   4.0   97.0   60.0  23.0    NaN
119     Fail   no   4.0   99.0   76.0  15.0   51.0
120  Success  yes   NaN  162.0   76.0  56.0  100.0
121     Fail   no   6.0  111.0   64.0  39.0    NaN
122     Fail   no   2.0  107.0   74.0  30.0  100.0
123     Fail   no   5.0  132.0   80.0   NaN    NaN
124  Success  yes   NaN  113.0   76.0   NaN    NaN
125  Success  yes   1.0   88.0   30.0  42.0   99.0
126     Fail   no   3.0  120.0   70.0  30.0  135.0
127     Fail   no   1.0  118.0   58.0  36.0   94.0
128  Success  yes   1.0  117.0   88.0  24.0  145.0

[129 rows x 7 columns]

In [315]:
data.shape

(129, 7)

In [316]:
# mengambil data sejumlah n dari atas
data.head(n=100)

         Y1    Y    X1     X2     X3    X4     X5
0   Success  yes   6.0  148.0   72.0  35.0    NaN
1      Fail   no   1.0   85.0   66.0  29.0    NaN
2   Success  yes   8.0  183.0   64.0   NaN    NaN
3      Fail   no   1.0   89.0   66.0  23.0   94.0
4   Success  yes   NaN  137.0   40.0  35.0  168.0
5      Fail   no   5.0  116.0   74.0   NaN    NaN
6   Success  yes   3.0   78.0   50.0  32.0   88.0
7      Fail   no  10.0  115.0    NaN   NaN    NaN
8   Success  yes   2.0  197.0   70.0  45.0  543.0
9   Success  yes   8.0  125.0   96.0   NaN    NaN
10     Fail   no   4.0  110.0   92.0   NaN    NaN
11  Success  yes  10.0  168.0   74.0   NaN    NaN
12     Fail   no  10.0  139.0   80.0   NaN    NaN
13      NaN  NaN   1.0  189.0   60.0  23.0  846.0
14  Success  yes   5.0  166.0   72.0  19.0  175.0
15  Success  yes   7.0  100.0    NaN   NaN    NaN
16  Success  yes   NaN  118.0   84.0  47.0  230.0
17  Success  yes   7.0  107.0   74.0   NaN    NaN
18     Fail   no   1.0  103.0   30.0  38.0   83.0
19  Success  yes   1.0  115.0   70.0  30.0   96.0
20     Fail   no   3.0  126.0   88.0  41.0  235.0
21     Fail   no   8.0   99.0   84.0   NaN    NaN
22      NaN  NaN   7.0  196.0   90.0   NaN    NaN
23  Success  yes   9.0  119.0   80.0  35.0    NaN
24  Success  yes  11.0  143.0   94.0  33.0  146.0
25  Success  yes  10.0  125.0   70.0  26.0  115.0
26  Success  yes   7.0  147.0   76.0   NaN    NaN
27     Fail   no   1.0   97.0   66.0  15.0  140.0
28     Fail   no  13.0  145.0   82.0  19.0  110.0
29      NaN  NaN   5.0  117.0   92.0   NaN    NaN
..      ...  ...   ...    ...    ...   ...    ...
70      NaN  NaN   2.0  100.0   66.0  20.0   90.0
71     Fail   no   5.0  139.0   64.0  35.0  140.0
72  Success  yes  13.0  126.0   90.0   NaN    NaN
73     Fail   no   4.0  129.0   86.0  20.0  270.0
74     Fail   no   1.0   79.0   75.0  30.0    NaN
75     Fail   no   1.0    NaN   48.0  20.0    NaN
76     Fail   no   7.0   62.0   78.0   NaN    NaN
77     Fail   no   5.0   95.0   72.0  33.0    NaN
78  Success  yes   NaN  131.0    NaN   NaN    NaN
79     Fail   no   2.0  112.0   66.0  22.0    NaN
80     Fail   no   3.0  113.0   44.0  13.0    NaN
81     Fail   no   2.0   74.0    NaN   NaN    NaN
82     Fail   no   7.0   83.0   78.0  26.0   71.0
83     Fail   no   NaN  101.0   65.0  28.0    NaN
84  Success  yes   5.0  137.0  108.0   NaN    NaN
85     Fail   no   2.0  110.0   74.0  29.0  125.0
86     Fail   no  13.0  106.0   72.0  54.0    NaN
87     Fail   no   2.0  100.0   68.0  25.0   71.0
88  Success  yes  15.0  136.0   70.0  32.0  110.0
89     Fail   no   1.0  107.0   68.0  19.0    NaN
90     Fail   no   1.0   80.0   55.0   NaN    NaN
91     Fail   no   4.0  123.0   80.0  15.0  176.0
92     Fail   no   7.0   81.0   78.0  40.0   48.0
93  Success  yes   4.0  134.0   72.0   NaN    NaN
94     Fail   no   2.0  142.0   82.0  18.0   64.0
95     Fail   no   6.0  144.0   72.0  27.0  228.0
96     Fail   no   2.0   92.0   62.0  28.0    NaN
97     Fail   no   1.0   71.0   48.0  18.0   76.0
98     Fail   no   6.0   93.0   50.0  30.0   64.0
99  Success  yes   1.0  122.0   90.0  51.0  220.0

[100 rows x 7 columns]

In [317]:
# mengambil data sejumlah n dari bawah
data.tail(n=100)

          Y1    Y    X1     X2     X3    X4     X5
29       NaN  NaN   5.0  117.0   92.0   NaN    NaN
30       NaN  NaN   5.0  109.0   75.0  26.0    NaN
31   Success  yes   3.0  158.0   76.0  36.0  245.0
32      Fail   no   3.0   88.0   58.0  11.0   54.0
33      Fail   no   6.0   92.0   92.0   NaN    NaN
34      Fail   no  10.0  122.0   78.0  31.0    NaN
35      Fail   no   4.0  103.0   60.0  33.0  192.0
36      Fail   no  11.0  138.0   76.0   NaN    NaN
37   Success  yes   9.0  102.0   76.0  37.0    NaN
38   Success  yes   2.0   90.0   68.0  42.0    NaN
39   Success  yes   4.0  111.0   72.0  47.0  207.0
40      Fail   no   3.0  180.0   64.0  25.0   70.0
41      Fail   no   7.0  133.0   84.0   NaN    NaN
42      Fail   no   7.0  106.0   92.0  18.0    NaN
43   Success  yes   9.0  171.0  110.0  24.0  240.0
44      Fail   no   7.0  159.0   64.0   NaN    NaN
45   Success  yes   NaN  180.0   66.0  39.0    NaN
46      Fail   no   1.0  146.0   56.0   NaN    NaN
47      Fail   no   2.0   71.0   70.0  27.0    NaN
48   Success  yes   7.0  103.0   66.0  32.0    NaN
49      Fail   no   7.0  105.0    NaN   NaN    NaN
50       NaN  NaN   1.0  103.0   80.0  11.0   82.0
51      Fail   no   1.0  101.0   50.0  15.0   36.0
52      Fail   no   5.0   88.0   66.0  21.0   23.0
53   Success  yes   8.0  176.0   90.0  34.0  300.0
54      Fail   no   7.0  150.0   66.0  42.0  342.0
55      Fail   no   1.0   73.0   50.0  10.0    NaN
56   Success  yes   7.0  187.0   68.0  39.0  304.0
57      Fail   no   NaN  100.0   88.0  60.0  110.0
58      Fail   no   NaN  146.0   82.0   NaN    NaN
..       ...  ...   ...    ...    ...   ...    ...
99   Success  yes   1.0  122.0   90.0  51.0  220.0
100  Success  yes   1.0  163.0   72.0   NaN    NaN
101     Fail   no   1.0  151.0   60.0   NaN    NaN
102     Fail   no   NaN  125.0   96.0   NaN    NaN
103     Fail   no   1.0   81.0   72.0  18.0   40.0
104     Fail   no   2.0   85.0   65.0   NaN    NaN
105     Fail   no   1.0  126.0   56.0  29.0  152.0
106     Fail   no   1.0   96.0  122.0   NaN    NaN
107     Fail   no   4.0  144.0   58.0  28.0  140.0
108     Fail   no   3.0   83.0   58.0  31.0   18.0
109  Success  yes   NaN   95.0   85.0  25.0   36.0
110  Success  yes   3.0  171.0   72.0  33.0  135.0
111  Success  yes   8.0  155.0   62.0  26.0  495.0
112     Fail   no   1.0   89.0   76.0  34.0   37.0
113     Fail   no   4.0   76.0   62.0   NaN    NaN
114  Success  yes   7.0  160.0   54.0  32.0  175.0
115  Success  yes   4.0  146.0   92.0   NaN    NaN
116  Success  yes   5.0  124.0   74.0   NaN    NaN
117     Fail   no   5.0   78.0   48.0   NaN    NaN
118     Fail   no   4.0   97.0   60.0  23.0    NaN
119     Fail   no   4.0   99.0   76.0  15.0   51.0
120  Success  yes   NaN  162.0   76.0  56.0  100.0
121     Fail   no   6.0  111.0   64.0  39.0    NaN
122     Fail   no   2.0  107.0   74.0  30.0  100.0
123     Fail   no   5.0  132.0   80.0   NaN    NaN
124  Success  yes   NaN  113.0   76.0   NaN    NaN
125  Success  yes   1.0   88.0   30.0  42.0   99.0
126     Fail   no   3.0  120.0   70.0  30.0  135.0
127     Fail   no   1.0  118.0   58.0  36.0   94.0
128  Success  yes   1.0  117.0   88.0  24.0  145.0

[100 rows x 7 columns]

In [318]:
# statistika deskriptif
data.describe()

               X1          X2          X3         X4          X5
count  116.000000  128.000000  123.000000  86.000000   61.000000
mean     4.646552  118.796875   71.894309  29.546512  153.885246
std      3.289653   31.008345   14.750834  10.389652  136.187016
min      1.000000   44.000000   30.000000  10.000000   18.000000
25%      2.000000   97.000000   64.000000  23.000000   76.000000
50%      4.000000  113.500000   72.000000  29.500000  115.000000
75%      7.000000  139.500000   80.000000  35.000000  176.000000
max     15.000000  197.000000  122.000000  60.000000  846.000000

In [319]:
# menghitung data kategorik
data['Y'].value_counts()

no     77
yes    45
Name: Y, dtype: int64

In [320]:
# menghitung data kategorik
data['Y1'].value_counts()

Fail       77
Success    45
Name: Y1, dtype: int64

In [321]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 7 columns):
Y1    122 non-null object
Y     122 non-null object
X1    116 non-null float64
X2    128 non-null float64
X3    123 non-null float64
X4    86 non-null float64
X5    61 non-null float64
dtypes: float64(5), object(2)
memory usage: 7.1+ KB

# Imputation Data

In [322]:
#number of NA for each variable
np.sum(data.isnull())

Y1     7
Y      7
X1    13
X2     1
X3     6
X4    43
X5    68
dtype: int64

In [323]:
# mendeteksi missing value (NA)
data.isnull().sum()

Y1     7
Y      7
X1    13
X2     1
X3     6
X4    43
X5    68
dtype: int64

In [324]:
# total data NA di seluruh data
data.isnull().sum().sum()

145

In [325]:
#imputasi missing value data numerik [mean / median]
data['X1'] = data['X1'].fillna((data['X1'].mean())) 
data['X2'] = data['X2'].fillna((data['X2'].mean()))
data['X3'] = data['X3'].fillna((data['X3'].mean())) 
data['X4'] = data['X4'].fillna((data['X4'].mean()))
data['X5'] = data['X5'].fillna((data['X5'].median()))
data.isnull().any()

Y1     True
Y      True
X1    False
X2    False
X3    False
X4    False
X5    False
dtype: bool

In [326]:
#imputasi data kategorik dengan [modus]
data['Y'] = data.fillna(data['Y'].value_counts().index[0])
data.isnull().any()

Y1     True
Y     False
X1    False
X2    False
X3    False
X4    False
X5    False
dtype: bool

In [327]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Y1    False
Y     False
X1    False
X2    False
X3    False
X4    False
X5    False
dtype: bool

# Encode Label

In [328]:
from sklearn.preprocessing import LabelEncoder

In [329]:
# membuat koding [Encode] untuk Y tanpa membuat kolom baru
data['Y1'] = LabelEncoder().fit_transform(data['Y1']) 
data['Y'] = LabelEncoder().fit_transform(data['Y'])
data.head()

   Y1  Y        X1     X2    X3         X4     X5
0   1  1  6.000000  148.0  72.0  35.000000  115.0
1   0  0  1.000000   85.0  66.0  29.000000  115.0
2   1  1  8.000000  183.0  64.0  29.546512  115.0
3   0  0  1.000000   89.0  66.0  23.000000   94.0
4   1  1  4.646552  137.0  40.0  35.000000  168.0

In [330]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Y1    False
Y     False
X1    False
X2    False
X3    False
X4    False
X5    False
dtype: bool

# Standardize

In [331]:
from sklearn.preprocessing import StandardScaler

In [332]:
data['X1'] = StandardScaler().fit(data[['X1']]).transform(data[['X1']])
data['X2'] = StandardScaler().fit(data[['X2']]).transform(data[['X2']])
data['X3'] = StandardScaler().fit(data[['X3']]).transform(data[['X3']])
data['X4'] = StandardScaler().fit(data[['X4']]).transform(data[['X4']])
data['X5'] = StandardScaler().fit(data[['X5']]).transform(data[['X5']])
data.head()

   Y1  Y        X1        X2        X3            X4        X5
0   1  1  0.435750  0.949169  0.007368  6.466344e-01 -0.193786
1   0  0 -1.174028 -1.098477 -0.410895 -6.480131e-02 -0.193786
2   1  1  1.079661  2.086751 -0.550316  4.212545e-16 -0.193786
3   0  0 -1.174028 -0.968468 -0.410895 -7.762370e-01 -0.415104
4   1  1  0.000000  0.591644 -2.223369  6.466344e-01  0.364778

# Normalize

In [333]:
from sklearn.preprocessing import Normalizer

In [334]:
data['X1'] = Normalizer().fit(data[['X1']]).transform(data[['X1']])
data['X2'] = Normalizer().fit(data[['X2']]).transform(data[['X2']])
data['X3'] = Normalizer().fit(data[['X3']]).transform(data[['X3']])
data['X4'] = Normalizer().fit(data[['X4']]).transform(data[['X4']])
data['X5'] = Normalizer().fit(data[['X5']]).transform(data[['X5']])
data.head()

   Y1  Y   X1   X2   X3   X4   X5
0   1  1  1.0  1.0  1.0  1.0 -1.0
1   0  0 -1.0 -1.0 -1.0 -1.0 -1.0
2   1  1  1.0  1.0 -1.0  1.0 -1.0
3   0  0 -1.0 -1.0 -1.0 -1.0 -1.0
4   1  1  0.0  1.0 -1.0  1.0  1.0